<form action='/specialties' method='post'>
  <label for='Name'>Specialty name: </label>
  <input id='SpecialtyName' name='SpecialtyName' type='text'>
  <button type='submit'>Add specialty</button>
</form>