@{
  Layout = "_Layout";
}

<div class="container">


<h1>max's beautiful flowing hair salon</h1>
<hr>
<a href="/stylists">Click here to view all our stylists.</a>
<br>
<a href="/clients">Click here to view all our clients.</a>
<br>
<a href="/specialties">Click here to view all our specialties.</a>

</div>

