

@{
  Layout = "_Layout";
}

<form action='/stylists' method='post'>
  <label for='Name'>Stylist name: </label>
  <input id='StylistName' name='StylistName' type='text'>
  <button type='submit'>Add stylist</button>
</form>