<h1>Complete information for Stylist @Model["stylist"][0].GetName()</h1>
<hr>

<p>name:  @Model["stylist"][0].GetName() </p>
<p>ID:  @Model["stylist"][0].GetId() </p>
<hr>

<a href="/stylists/@Model["stylist"][0].GetId()/delete/">Delete this stylist</a>



<p>Clients</p>
@foreach (var client in Model["clients"])
{
    <li>@client.GetName()</li>
}
<hr>

<p>Add a new client:</p>
<form action='/stylists/@Model["stylist"][0].GetId()/clients/new' method='post'>
  <label for='Name'>Client name: </label>
  <input id='ClientName' name='ClientName' type='text'>
  <button type='submit'>Add client</button>
</form>
